    /* Object-Fit & Object-Position with Breakpoints */
    img {
      width: 100%;
       ;
    }

    @media (max-width: 768px) {

    }

    @media (max-width: 480px) {

    }

    /* CSS-Variablen für Responsive Schriften */
  /* Responsive */
      
:root {
  /* Desktop */
  /* number */
  --type-size-body: 20px;
  --type-size-h3: 36px;
  --type-size-h2: 48px;
  --type-size-h1: 64px;

 
}
      

    

    h1 {font-size: var(--type-size-h1);
      
    }

    h2 {font-size: var(--type-size-h2);
      
    }

    h3 {font-size: var(--type-size-h3);
      
    }

    p {font-size: var(--type-size-body);
      
    }

    @media (max-width: 768px) {
      :root {
          /* Tablet */
  /* number */
  --type-size-body: 18px;
  --type-size-h3: 24px;
  --type-size-h2: 36px;
  --type-size-h1: 48px;

      }
    }

    @media (max-width: 480px) {
      :root {
         /* Mobile */
  /* number */
  --type-size-body: 16px;
  --type-size-h3: 20px;
  --type-size-h2: 28px;
  --type-size-h1: 36px;

      }
    }

    /* CSS-Variablen für ein 8px-Grid */
    :root {

    }

    .spaced-container {
      background-color: #EAEDED;
      border-radius: 8px;
    }

    /* CSS Transitions */
    .button {
      background-color: #6C5CE7;
      color: white;
      padding: 12px 24px;
      border: none;
      cursor: pointer;
      font-size: 18px;
      border-radius: 8px;
    }

    .button:hover {
      
    }

    /* CSS Animations */

    .animated-box {
      width: 120px;
      height: 120px;
      background-color: #FAB1A0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 18px;
      border-radius: 10px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    /* CSS Motion Path - in Figma zeichen und als Pfad exportieren */

    .motion-element {
      width: 60px;
      height: 60px;
      background-color: #FDCB6E;
      position: absolute;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: #2D3436;
      text-align: center;
    }